services:
    frontend:
        build:
            context: ./frontend
        ports:
            - "5173:5173"
        volumes:
            - ./frontend:/app
            - /app/node_modules
        depends_on:
            - backend

    backend:
        build:
            context: ./backend
        ports:
            - "5000:5000"
        volumes:
            - ./backend:/app
            - /app/node_modules
        environment:
            - DB_HOST=db
            - DB_USER=root
            - DB_PASSWORD=root
            - DB_NAME=game_hub
        depends_on:
            - db

    db:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: game_hub
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql
            - ./mysql-init:/docker-entrypoint-initdb.d

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
            - "80:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root

volumes:
    db_data:
